<%- include('partials/header.html') %>

    <section class="container form-admin">
        <h2>Login</h2>

        <form class="" method="post">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="login" placeholder="Login">
                    
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                      
            <input type="submit" class="btn btn-secondary mt-3" name="acao" value="Send">
        </form>
        <span>
            <%= msg %>
        </span> 


    </section>
    
<%- include('partials/footer.html') %>

    
